#qrcode {
    /* width:160px; */
    /* height:160px; */
    margin-top:15px;
}

#qr {
    /* width:120px; */
    /* height:120px; */
    margin-top:15px;
}

.qr {
    margin-top:15px;
}

/* #qr1, #qr2, #qr3, #qr4 {
    margin-top:15px;
} */

table {
    border-collapse: collapse;   
}

th, tr {
    border-bottom: 1px solid black;   
}

#dpidiv {
    height: 1in; 
    left: -100%; 
    position: absolute; 
    top: -100%; 
    width: 1in;
}
